*  {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem clamp(1rem, 5vw, 3rem) 1rem;
    font-family: $font-body;
    font-size: 16pt;
    line-height: 1.5;
    color: var(--font-colour);
    background: var(--background-colour);
}

body > * {
    --layout-spacing: max(2vh, 2rem);
    width: 100%;
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-top: var(--layout-spacing);
}

footer {
    margin-top: auto;
    padding-top: var(--layout-spacing);
}

footer p {
    border-top: 1px solid var(--footer-colour);
    padding-top: 0.25em;
    font-size: 0.9rem;
    color: var(--footer-colour);

    display: flex;
    justify-content: space-between;
}

:is(h1, h2, h3) {
    line-height: 1.2;
    font-family: $font-headings;
}

:is(h2, h3, figure):not(:first-child) {
    margin-top: 2em;
}

article * + * {
    margin-top: 1em;
}

a {
    word-break: break-all;
    color: var(--link-colour);
    text-underline-offset: 0.15em;
}

a:visited {
    color: var(--visited-colour);
}

:not(pre) > code {
    word-break: break-all;
    font-family: $font-code;
    font-size: 12pt;
}

pre,
figure {
    overflow-x: auto;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    &> {
        a > img, img, video {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    figcaption {
        font-size: 0.8rem;
        text-align: center;
    }
}

time {
    font-size: 0.8rem;
}

header {
    h1 {
        a {
            color: var(--font-colour);
            font-size: 4rem;
            font-weight: bold;
            word-break: normal;
        }

        a:visited {
            color: var(--font-colour);
        }
    }
}

svg {
    color: var(--font-colour);
    fill: currentColor;
}

img.white {
    mix-blend-mode: multiply;
}
