/* latin-ext */
@font-face {
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Crimson Pro Italic"), local("CrimsonPro Italic"), local("Crimson-Pro-Italic"), local("CrimsonPro-Italic"),
    url(/fonts/crimson-pro-normal-latin-ext.woff2) format("woff2"), url(/fonts/CrimsonPro-Italic.ttf) format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Crimson Pro Italic"), local("CrimsonPro Italic"), local("Crimson-Pro-Italic"), local("CrimsonPro-Italic"),
    url(/fonts/crimson-pro-italic-latin.woff2) format("woff2"), url(/fonts/CrimsonPro-Italic.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Crimson Pro"), local("CrimsonPro"), local("Crimson-Pro"), local("CrimsonPro"),
    url(/fonts/crimson-pro-normal-latin-ext.woff2) format("woff2"), url(/fonts/CrimsonPro-Regular.ttf.ttf) format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Crimson Pro"), local("CrimsonPro"), local("Crimson-Pro"), local("CrimsonPro"),
    url(/fonts/crimson-pro-normal-latin.woff2) format("woff2"), url(/fonts/CrimsonPro-Regular.ttf.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Crimson Pro Bold"), local("CrimsonPro Bold"), local("Crimson-Pro-Bold"), local("CrimsonPro-Bold"),
    url(/fonts/crimson-pro-bold-latin-ext.woff2) format("woff2"), url(/fonts/CrimsonPro-Bold.ttf.ttf) format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Crimson Pro Bold"), local("CrimsonPro Bold"), local("Crimson-Pro-Bold"), local("CrimsonPro-Bold"),
    url(/fonts/crimson-pro-bold-latin.woff2) format("woff2"), url(/fonts/CrimsonPro-Bold.ttf.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Eczar";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Eczar Bold"), local("Eczar-Bold"), url(/fonts/eczar-bold-latin-ext.woff2) format("woff2"),
    url(/fonts/Eczar-Bold.ttf.ttf) format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Eczar";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Eczar Bold"), local("Eczar-Bold"), url(/fonts/eczar-bold-latin.woff2) format("woff2"),
    url(/fonts/Eczar-Bold.ttf.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
