.slideshow {
    width: 512px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;

    a {
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        background: var(--theme-foreground);
        color: var(--theme-background);
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0.5rem 0;
        position: relative;

        &:focus, &:hover, &:active {
            color: var(--theme-foreground);
            background: var(--theme-background);
        }
    }

    @supports(scroll-snap-type) {
        a {
            display: none;
        }
    }

    .slides {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        img {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 512px;
            height: 512px;
            margin-right: 50px;
            border-radius: 10px;
            transform-origin: center center;
            transform: scale(1);
            transition: transform 0.5s;
            position: relative;
        }

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--theme-foreground);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        scrollbar-width: thin;
        scrollbar-color: var(--theme-foreground) transparent;
    }
}

@media (prefers-color-scheme: dark) {
    .slideshow {
        a {
            color: var(--theme-foreground);
            background: var(--theme-background);

            &:focus, &:hover, &:active {
                background: var(--theme-foreground);
                color: var(--theme-background);
            }
        }
    }
}
