$font-body: "Crimson Pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif",
  "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-headings: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue;
$font-code: "Source Code Pro", "Fira Code", "Fira Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
  "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
  "Courier New", Courier, monospace;

:root {
    --background-colour: #fafafa;
    --font-colour: #222;
    --footer-colour: #222;
    --link-colour: #076678;
    --visited-colour: #8f3f71;

    --theme-background: #282a36;
    --theme-currentline: #44475a;
    --theme-selection: #44475a;
    --theme-foreground: #f8f8f2;
    --theme-comment: #6272a4;
    --theme-cyan: #8be9fd;
    --theme-green: #50fa7b;
    --theme-orange: #ffb86c;
    --theme-pink: #ff79c6;
    --theme-purple: #bd93f9;
    --theme-red: #ff5555;
    --theme-yellow: #f1fa8c;
}

