/* take care of text sizing: http://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=&font-family=sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=#333 */
html {font-size: 1em;}

body {
  background-color: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small {font-size: 0.833em;}

/* center and size the body */
body {
  margin: 1em auto;
  max-width: 40em;
  padding: 0 1em;
}

/* page header and nav */
body > header {
  overflow: auto;
  font-size: 1.2em;
}

body > header h1 {
  float: left;
  font-size: 1.2em;
}

body > header nav {
  float: right;
}

body > header nav a {
  margin-left: 0.5em;
}

body > header {
  margin-bottom: 2em;
}

/* page footer */
body > footer {
  text-align: center;
}

body > footer img {
  height: 0.75em;
}

/* bold headers */
h1 { font-weight: 800; }
h2 { font-weight: 700; }
h3 { font-weight: 600; }
h4 { font-weight: 500; }

/* layout and group the posts on the home page */
article {
    margin-bottom: 0.75em;
    border-bottom: thin solid #f3f3f3;
}

article header p, article footer span {
  font-size: 0.833em;
  margin: 0;
  color: #7a7a7a;
  font-style: italic;
}

article header h1 {
  margin: 0;
}

article > p {
  margin-bottom: 0.5em;
}

article footer {
  overflow: auto;
}

article footer p {
  margin-top: 0;
  float:left;
}

article footer span {
  float: right;
}

/* body stuff */
article p {
  text-align: justify;
}

article figure {
  display: block;
  text-align: center;
}

article figure img {
  max-width: 100%;
}

article figure figcaption {
  display: block;
  font-size: 0.75em;
  text-align: center;
}

/* link colours! */
header a, h1 a {
  color: #333;
  text-decoration: none;
}

header a:hover, h1 a:hover {
  color: #bf0a30;
  text-decoration: none;
}

a {
  color: #bf0a30;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #8c0000;
  text-decoration: none;
}

/* prettier inline codeformatting */
:not(pre) > code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}

/* let print do its own thing */
@media print{
  body {
    max-width: none;
    color: #000;
  }

  h1 a {
    color: #000;
  }

  a, a:hover, a:focus, a:active {
    color: #000;
    text-decoration: underline;
  }
}
