{% extends "base.html" %}

{% block og_meta %}
  <meta property="og:title" content="{{ site_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://{{ site_root }}" />
  <meta property="og:image" content="http://{{ site_root }}/assets/ca.svg" />
  <meta property="og:locale" content="en_CA" />
{% endblock %}

{% block body %}
  <h1>Posts</h1>
  <ul>
  {% for post in posts %}
    <li><a href="{% url "post", post %}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
