{% extends "base.html" %}

{% set page_title = post.title %}

{% block og_meta %}
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:url" content="https://{{ site_root }}{% url "post", post %}" />
  <meta property="og:description" content="{{ post.preview_summary }}" />
  <meta property="og:type" content="article" />
  {% if post.meta_image %}
  <meta property="og:image" content="http://{{ site_root }}{{ post.meta_image }}" />
  <meta property="og:image:secure_url" content="https://{{ site_root }}{{ post.meta_image }}" />
  {% endif %}
  <meta property="article:published_time" content="{{ post.published|date('%Y-%m-%d %H:%M:%S') }}" />
  <meta property="article:author" content="http://{{ site_root }}/about/" />

  <meta name="twitter:card" content="{%if post.large_meta_image %}summary_large_image{% else %}summary{% endif %}" />
  <meta name="twitter:site" content="{{ post.author.twitter }}" />
  <meta name="twitter:creator" content="{{ post.author.twitter }}" />
  <meta name="twitter:title" content="{{ post.title }}" />
  <meta name="twitter:description" content="{{ post.preview_summary }}" />
  {% if post.meta_image %}<meta name="twitter:image" content="http://{{ site_root }}{{ post.meta_image }}" />{% endif %}

{% endblock %}

{% block body %}
  <article>
    <header>
      <h1>{{ post.title }}</h1>
    </header>
    {{ post.content|safe }}
  </article>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/monokai-sublime.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/haxe.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/python.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
  <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx" crossorigin="anonymous"></script>
  <script>renderMathInElement(document.body);</script>
{% endblock %}