{% extends "base.html" %}

{% set page_title = post.title %}

{% block og_meta %}
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:url" content="http://{{ site_root }}{% url "post", post %}" />
  <meta property="og:description" content="{{ post.preview_summary }}" />
  <meta property="og:type" content="article" />
  {% if post.meta_image %}
  <meta property="og:image" content="http://{{ site_root }}{{ post.meta_image }}" />
  <!--<meta property="og:image:secure_url" content="://{{ site_root }}{{ post.meta_image }}" />-->
  {% endif %}
  <meta property="article:published_time" content="{{ post.published|date('%Y-%m-%d %H:%M:%S') }}" />
  <meta property="article:author" content="http://{{ site_root }}/about/" />

  <meta name="twitter:card" content="{%if post.large_meta_image %}summary_large_image{% else %}summary{% endif %}" />
  <meta name="twitter:site" content="{{ post.author.twitter }}" />
  <meta name="twitter:creator" content="{{ post.author.twitter }}" />
  <meta name="twitter:title" content="{{ post.title }}" />
  <meta name="twitter:description" content="{{ post.preview_summary }}" />
  {% if post.meta_image %}<meta name="twitter:image" content="http://{{ site_root }}{{ post.meta_image }}" />{% endif %}

{% endblock %}

{% block body %}
  <article>
    <header>
      <h1>{{ post.title }}</h1>
    </header>
    {{ post.content|safe }}
  </article>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" integrity="sha384-kNDoTvr2mTqNovOJWJhrdEtHE2W/GRze4bcgbJySOoJRSPe9lqsWsli9HbC+VBUx" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha384-ZeLYJ2PNSQjvogWP559CDAf02Qb8FE5OyQicqtz/+UhZutbrwyr87Be7NPH/RgyC" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/haxe.min.js" integrity="sha384-IYfYuZbc0LfUGu2VnBKgrqvXLlECvKwmUzDmkRUhIC+oMoJI2PmlflnH8v6chvyb" crossorigin="anonymous"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css" integrity="sha384-B41nY7vEWuDrE9Mr+J2nBL0Liu+nl/rBXTdpQal730oTHdlrlXHzYMOhDU60cwde" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.js" integrity="sha384-L9gv4ooDLrYwW0QCM6zY3EKSSPrsuUncpx26+erN0pJX4wv1B1FzVW1SvpcJPx/8" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/contrib/auto-render.min.js" integrity="sha384-RkgGHBDdR8eyBOoWeZ/vpGg1cOvSAJRflCUDACusAAIVwkwPrOUYykglPeqWakZu" crossorigin="anonymous"></script>
  <script>renderMathInElement(document.body);</script>
{% endblock %}
