{% extends "home.html" %}

{% block body %}
  <div>
      <p>Posts tagged with <em>{{ tag.pk }}</em>:</p>
  </div>
  {% for post in posts if tag in post.tags %}
    <article>
      <header>
        <p><time pubdate="pubdate">{{ post.published|date('%b %d, %Y') }}</time></p>
        <h1><a href="{% url "post", post %}">{{ post.title }}</a></h1>
      </header>
      {% if post.preview_mp4 or post.preview_webm or post.preview_gif %}
      <figure>
        <a href="{% url "post", post %}"><video autoplay loop>
            {% if post.preview_webm %}<source src="{{ post.preview_webm }}" type="video/webm">{% endif %}
            {% if post.preview_mp4 %}<source src="{{ post.preview_mp4 }}" type="video/mp4">{% endif %}
            {% if post.preview_gif %}<img src="{{ post.preview_gif }}">{% endif %}
        </video></a>
      </figure>
      {% elif post.preview_image %}
      <figure>
          <a href="{% url "post", post %}"><img src="{{ post.preview_image }}"></a>
      </figure>
      {% endif %}
      {% if post.preview_summary %}
      <p>{{ post.preview_summary|safe }}</p>
      {% endif %}
      <footer>
        <p><a href="{% url "post", post %}">Continue reading...</a></p>
        <span><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;
        {% for tag in post.tags %}
          <a href="{% url "tag", tag %}">{{ tag.pk }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        </span>
      </footer>
    </article>
  {% endfor %}
{% endblock %}